@model Etch.OrchardCore.Fields.Dictionary.Settings.DictionaryFieldSettings

<script asp-src="https://vuejs.org/js/vue.min.js" debug-src="https://vuejs.org/js/vue.js" asp-name="vuejs"
        at="Foot"></script>
<script asp-src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"
        debug-src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.js" asp-name="sortable" at="Foot"></script>
<script asp-src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"
        debug-src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.js" asp-name="vuedraggable"
        depends-on="vuejs, sortable" at="Foot"></script>

<script asp-src="~/Etch.OrchardCore.Fields/Scripts/dictionary/admin.js" asp-name="dictionary" depends-on="jquery"
        at="Foot"></script>
<script at="Foot">
        initializeDictionaryEditor(document.getElementById('@Html.IdFor(m => m)'));
</script>

<div class="form-group">
    <label asp-for="DefaultData">@T["Default values"]</label>
    <span class="hint">@T["Values that will be present on a new content item"]</span>

    <div class="js-dictionary-field-editor" id="@Html.IdFor(m => m)" data-for="@Html.IdFor(m => m.DefaultData)">
        <input type="hidden" asp-for="DefaultData" :value="value" data-init="@Model.DefaultData">

        <draggable tag="ul" class="list-group" v-model="dictionaryItems" handle=".handle">
            <li v-for="(item, index) in dictionaryItems" class="row mb-3">
                <button type="button" class="btn btn-light handle"><span class="fa fa-align-justify"></span></button>
                <div class="col">
                    <input class="form-control" placeholder="Name" type="text" v-model="item.name">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Value" type="text" v-model="item.value">
                </div>
                <button v-on:click="remove(index)" class="btn btn-danger" type="button">
                    <span class="fa fa-trash-alt">&nbsp;</span>
                </button>
            </li>
        </draggable>

        <button v-on:click="add" class="btn btn-primary" type="button"><span class="fa fa-plus">&nbsp;</span> Add</button>
    </div>
</div>

<div class="form-group">
    <div class="row col-sm-6">
        <label asp-for="MinEntries">@T["Minimum Entries"]</label>
        <input type="number" asp-for="MinEntries" class="form-control" value="@Model.MinEntries" />
        <span class="hint">@T["Minimum number of name/values that must be specified."]</span>
    </div>
</div>
<div class="form-group">
    <div class="row col-sm-6">
        <label asp-for="MaxEntries">@T["Maximum Entries"]</label>
        <input type="number" asp-for="MaxEntries" class="form-control" value="@Model.MaxEntries" />
        <span class="hint">@T["Maximum number of name/values that can be specified."]</span>
    </div>
</div>

<div class="form-group">
    <div class="row col-sm-6">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
        <span class="hint">@T["The hint text to display for this field on the editor."]</span>
    </div>
</div>
