@model Etch.OrchardCore.Fields.Dictionary.ViewModels.EditDictionaryFieldViewModel

@using OrchardCore.ContentManagement.Metadata.Models
@using Etch.OrchardCore.Fields.Dictionary.Settings

@{
    var settings = Model.PartFieldDefinition.GetSettings<DictionaryFieldSettings>();
}

<script asp-src="https://vuejs.org/js/vue.min.js" debug-src="https://vuejs.org/js/vue.js" asp-name="vuejs"
        at="Foot"></script>
<script asp-src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"
        debug-src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.js" asp-name="sortable" at="Foot"></script>
<script asp-src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"
        debug-src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.js" asp-name="vuedraggable"
        depends-on="vuejs, sortable" at="Foot"></script>

<script asp-src="~/Etch.OrchardCore.Fields/Scripts/dictionary/admin.js" asp-name="dictionary" depends-on="jquery"
        at="Foot"></script>
<script at="Foot">
        initializeDictionaryEditor(document.getElementById('@Html.IdFor(m => m)'));
</script>

<div class="form-group">
    <label asp-for="Data">@Model.PartFieldDefinition.DisplayName()</label>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }

    <div id="@Html.IdFor(m => m)" data-for="@Html.IdFor(m => m.Data)" data-min="@Html.IdFor(m => m.MinEntries)" data-max="@Html.IdFor(m => m.MaxEntries)" asp-validation-class-for="Data">
        <input type="hidden" asp-for="Data" :value="value" data-init="@Model.Data">
        <input type="hidden" id="@Html.IdFor(m=>m.MaxEntries)" value="@Model.MaxEntries" />
        <input type="hidden" id="@Html.IdFor(m=>m.MinEntries)" value="@Model.MinEntries" />

        <draggable tag="ul" class="list-group" v-model="dictionaryItems" handle=".handle" @@change="updatePreview">
            <li v-for="(item, index) in dictionaryItems" class="row mb-3">
                <button type="button" class="btn btn-light handle"><span class="fa fa-align-justify"></span></button>
                <div class="col">
                    <input class="form-control content-preview-text" asp-validation-class-for="Data" placeholder="Name" type="text" :ref="'name'" v-model="item.name" v-on:keydown.enter.prevent="nextField('name', index)" v-on:keydown.backspace="handleBackspace('name', index, $event)" v-on:keydown.up.prevent="handleUp('name', index)" v-on:keydown.down.prevent="handleDown('name', index)" />
                </div>
                <div class="col">
                    <input class="form-control content-preview-text" asp-validation-class-for="Data" placeholder="Value" type="text" :ref="'value'" v-model="item.value" v-on:keydown.enter.prevent="nextField('value', index)" v-on:keydown.backspace="handleBackspace('value', index, $event)" v-on:keydown.up.prevent="handleUp('value', index)" v-on:keydown.down.prevent="handleDown('value', index)" />
                </div>
                <button v-on:click="remove(index)" class="btn btn-danger" type="button">
                    <span class="fa fa-trash-alt">&nbsp;</span>
                </button>
            </li>
        </draggable>

        <p v-if="!hasEntries" class="hint">@T["No entries yet, add one below"]</p>
        <p v-if="!hasMinEntries" class="alert alert-warning">@T["You need at least {0} entries", Model.MinEntries]</p>
        <p v-if="isMaxEntries" class="alert alert-warning">@T["Max number of {0} entries reacted", Model.MaxEntries]</p>

        <button v-on:click="add" class="btn btn-primary" type="button" :disabled="isMaxEntries === true"><span class="fa fa-plus">&nbsp;</span> @T["Add"]</button>
    </div>
</div>