@using Etch.OrchardCore.Fields.ResponsiveMedia.Settings
@model Etch.OrchardCore.Fields.ResponsiveMedia.ViewModels.DisplayResponsiveMediaFieldViewModel

@{
    var loadType = Model.PartFieldDefinition.GetSettings<ResponsiveMediaFieldSettings>().LazyLoad ? "lazy" : "eager";
}

@if (Model.HasMedia)
{
    if (Model.Media.Count == 1) {
        <picture class="@Model.PartFieldDefinition.HtmlClassify()">
            @foreach (var sourceSet in Model.Media[0].Sources)
            {
                <source srcset="@sourceSet.Url" media="@($"(min-width: {sourceSet.Breakpoint}px)")" />
            }

            <img src="@Model.Media[0].SmallestImageUrl" loading=@loadType alt="@Model.Media[0].MediaText" />
        </picture>
    } else {
        <ul class="@Model.PartFieldDefinition.HtmlClassify()--list">
            @foreach (var media in Model.Media)
            {
                <li>
                    <picture class="@Model.PartFieldDefinition.HtmlClassify()">
                        @foreach (var sourceSet in media.Sources)
                        {
                            <source srcset="@sourceSet.Url" media="@($"(min-width: {sourceSet.Breakpoint}px)")" />
                        }

                        <img src="@media.SmallestImageUrl" loading=@loadType alt="@media.MediaText" />
                    </picture>
                </li>
            }
        </ul>
    }
}