@model Etch.OrchardCore.Fields.ResponsiveMedia.ViewModels.DisplayResponsiveMediaFieldViewModel

@if (Model.HasMedia)
{
    if (Model.Media.Count == 1) {
        <picture class="@Model.PartFieldDefinition.HtmlClassify()">
            @foreach (var sourceSet in Model.Media[0].Sources)
            {
                <source srcset="@sourceSet.Url" media="@($"(min-width: {sourceSet.Breakpoint}px)")" />
            }

            <img src="@Model.Media[0].SmallestImageUrl" loading="lazy" alt="@Model.Media[0].MediaText" />
        </picture>
    } else {
        <ul class="@Model.PartFieldDefinition.HtmlClassify()--list">
            @foreach (var media in Model.Media)
            {
                <li>
                    <picture class="@Model.PartFieldDefinition.HtmlClassify()">
                        @foreach (var sourceSet in media.Sources)
                        {
                            <source srcset="@sourceSet.Url" media="@($"(min-width: {sourceSet.Breakpoint}px)")" />
                        }

                        <img src="@media.SmallestImageUrl" loading="lazy" alt="@media.MediaText" />
                    </picture>
                </li>
            }
        </ul>
    }
}