@model Etch.OrchardCore.Fields.ResponsiveMedia.Settings.ResponsiveMediaFieldSettings

<fieldset class="form-group">
    <div class="row col-sm-6">
        <label asp-for="Breakpoints">@T["Breakpoints"]</label>
        <input type="text" asp-for="Breakpoints" class="form-control" value="@string.Join(",", Model.Breakpoints)" />
        <span class="hint">@T["Comma separated list of breakpoints (e.g. \"200, 400, 600\")."]</span>
    </div>
</fieldset>

<div class="row">
    <fieldset class="form-group col-md-6">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" asp-for="Required" checked="@Model.Required">
            <label class="custom-control-label" asp-for="Required">@T["Required"]</label>
            <span class="hint">@T["Whether a media is required."]</span>
        </div>
    </fieldset>
</div>

<fieldset class="form-group">
    <div class="row col-sm-6">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
        <span class="hint">@T["The hint text to display for this field on the editor."]</span>
    </div>
</fieldset>