@model Etch.OrchardCore.Fields.ResponsiveMedia.ViewModels.DisplayResponsiveMediaFieldViewModel

@{
    var cssClass = string.Format("{0}__media--{1}", Model.PartFieldDefinition.PartDefinition.Name, Model.PartFieldDefinition.Name);
}

@if (Model.HasMedia)
{
    if (Model.Media.Count == 1) {
        <picture class="@cssClass">
            @foreach (var sourceSet in Model.Media[0].Sources)
            {
                <source srcset="@sourceSet.Url" media="@($"(min-width: {sourceSet.Breakpoint}px)")" />
            }

            <img src="@Model.Media[0].SmallestImageUrl" loading="lazy" alt="@Model.Media[0].MediaText" />
        </picture>
    } else {
        var listClass = string.Format("{0}__media-list--{1}", Model.PartFieldDefinition.PartDefinition.Name, Model.PartFieldDefinition.Name);
        <ul class="@listClass">
            @foreach (var media in Model.Media)
            {
                <li>
                    <picture class="@cssClass">
                        @foreach (var sourceSet in media.Sources)
                        {
                            <source srcset="@sourceSet.Url" media="@($"(min-width: {sourceSet.Breakpoint}px)")" />
                        }

                        <img src="@media.SmallestImageUrl" loading="lazy" alt="@media.MediaText" />
                    </picture>
                </li>
            }
        </ul>
    }
}